---
layout: default
title: Agile Principles and Practices
---

{% capture index %}{% include index.md %}{% endcapture %}
{{ index | markdownify }}

{% if site.repos %}

<section id="repositories">
  <h2>Repositories</h2>
  <ul class="repo-list group">
    <li class="list-icon">
      <img src="assets/img/octocat.png" width="25px" alt="">
    </li>
    {% for repo in site.repos %}
      <li>
        <a href="{{ repo.url }}">
          <h4>{{ repo.name }}</h4>
          <p>{{ repo.description }}</p>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>
{% endif %}
